<div class="container__big-card">
    <div class="big-card__photo">
<img src="https://2.bp.blogspot.com/-mvN-qR1cOQY/YtMzibb75BI/AAAAAAAAmGU/g6eh3YwWmIIOmXFsclFyvknqdmF8-DqKwCK4BGAYYCw/s113/avatars-000096692328-9axtuy-t240x240.jpg" alt=""
height="300px"
width="300">
    </div>
    <div class="big-card__title">
        <h1><a href="https://www.instagram.com/wb_recordings/?igshid=MzNlNGNkZWQ4Mg%3D%3D"> LANÇAMENTOS!</a> </h1>
        

    </div>

    <div class="big-card__description"> 
        <p>
            <a href="https://informacaomusica.blogspot.com/?m=1">
            INDICAÇÕES MUSICAIS E INFORMAÇÕES   </a> </p>
      

    </div>
</div>
